

body {
text-align: center;
margin: 0;
}

header {
background-color: #F15B31;
color: #FFFFFF;
padding: 30px 20px;
}

header h1 {
color: #FFFFFF;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

nav {
background-color: #00A6B3;
color: #FFFFFF;
padding: 20px 0;
}

nav a {
	color: #FFFFFF;
}

main{
width:850px;
margin: 35px auto;
}

img {
margin: 40px 8px;
}


h1 {
font-family: "Raleway", sans-serif;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 400;
font-size: 45px;
margin: 0;
}

h2 {
font-family: "Raleway", sans-serif;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;
}

p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}

a {
font-family: "Raleway", sans-serif;
color: #F15B31;
letter-spacing: 1px;
font-weight: 600;
font-size: 18px;
margin: 0 20px;
text-decoration: none;
border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}





